**/target
*.iml
*.class
*.log
.settings
.idea/**/workspace.xml
.idea/**/dictionaries
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/libraries
.idea/inspectionProfiles
.idea/misc.xml
.idea/modules.xml
.idea/modules
.idea/compiler.xml
.idea/scala_compiler.xml
.idea/hydra.xml
.idea/sbt.xml